body { background-color: #ffffff; color: black; padding:0px;}


h1 { font-size: 1.4em; }
h1, h3 { margin: 0; padding: 0; }

.warn { color: #ff0000; font-weight: bold; }

a:link, a:visited { color: #06f; text-decoration: none; }
a:hover { color: #f60; }

dl,ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}
li {
        margin: .2em 1em 0; 
}
#left {
	position: relative;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: 10px;
	width: 190px;
	max-width: 200px;
	font-size: 0.9em;
}

#map {
	position: absolute;
	top: 0; right: 0; bottom: 20px; left: 220px;
	border: 1px solid black;
	background-color: #cbced5;
}

/* CSS placed here will be applied to all skins */ 
div.NavFrame {
    margin: 0px;
    padding: 0px;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
    clear:both;
    margin-top: 1.5em;
}

div.NavFrame div.NavHead {
    margin: 0;
    text-align: center;
    font-weight: bold;
    background-color: #aaffaa;
}

div.NavFrame div.NavContent {
    margin: 0;
    padding: 0;
    background-color: #f0fff0;
}

.NavToggle {
    font-size: x-small;
    float:right;
}

/* Workaround für Internet Explorer 6 */
div.NavFrame, .NavToggle {
    position:relative;
}

/* For some bizarre reason the slider image is having an top offset of 6px which
 * results in a displacement of the slider on the zoombar. Setting top to -6px 
 * solves this issue. However it should not be neccessary in the first place!
 */
img[src="http://openlayers.org/api/img/slider.png"]  { top: -6px; }

/* For PRs. You don't need this */
div.sitemix_pr_footer_js{
   position: absolute;
   height: -16px; right: 0; bottom: 0; left: 220px;
   border: 1px solid red;
   background-color: #ffffff;
   text-align: left;
}