photoTable=photo.json.gz
RSSTable=rss.json.gz
historyTable=history.josn.gz

backupDir=backup/
dataDir=htdocs/data/
RSSList=htdocs/rsslist.html

domain=mappin.hp2.jp
registration=data/new_rss.txt

flickrKey=
flickrSecret=
