photoTable=photo.json.gz
RSSTable=rss.json.gz
historyTable=history.json.gz

domain=mappin.hp2.jp
localHtdocsDir=htdocs/
httpHtdocsDir=/
ftpHtdocsDir=site/
registrationFile=data/new_rss.txt

backupDir=backup/
dataDir=data/
RSSList=rsslist.html
historyList=backup/history.html
historyRSS=backup/history.rss

flickrKey=
flickrSecret=
