AddDefaultCharset UTF-8
Options MultiViews FollowSymLinks
ErrorDocument 404 /404_not_found.xhtml

AddType application/xhtml+xml .xhtml
AddType text/xml .xml
AddType text/css .css
AddType text/javascript .js
AddType image/x-icon .ico
AddType application/rss+xml .rss
AddType application/x-gzip .gz
AddType text/xml .osm

LanguagePriority en ja
AddLanguage ca .ca
AddLanguage cs .cz .cs
AddLanguage da .dk
AddLanguage de .de
AddLanguage el .el
AddLanguage en .en
AddLanguage eo .eo
AddLanguage es .es
AddLanguage et .et
AddLanguage fr .fr
AddLanguage he .he
AddLanguage hr .hr
AddLanguage it .it
AddLanguage ja .ja
AddLanguage ko .ko
AddLanguage ltz .ltz
AddLanguage nl .nl
AddLanguage nn .nn
AddLanguage no .no
AddLanguage pl .po
AddLanguage pt .pt
AddLanguage pt-BR .pt-br
AddLanguage ru .ru
AddLanguage sv .sv
AddLanguage zh-CN .zh-cn
AddLanguage zh-TW .zh-tw
